[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
valclient = "*"
zerorpc = "*"
flask-cors = "*"
flask = "*"
socketio = "*"
python-socketio = "*"

[dev-packages]

[requires]
python_version = "3.12"
