@font-face {
  font-family: 'Enamela W01 Condensed Medium';
  src: url('./EnamelaW01-CondensedMedium.woff') format('woff');
}

@font-face {
  font-family: "Francker W01 Condensed Bold";
  src: url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.eot");
  src: url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/49856e91b560a2f0b683e7a239d22bb4.svg#Francker W01 Condensed Bold")format("svg");
}