[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
httpx = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
django-redis = "*"
redis = "*"
trueskill = "*"
channels = "*"
channels-redis = "*"
django = "*"
django-celery-beat = "*"
celery = "*"
websockets = "*"
gevent = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.12"
